<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head.html', { fontSize: 20, favicon: siteMeta.iconUrl }) %>
  <title><%= siteMeta.title %></title>
  <meta property="og:type" content="blog">
  <meta property="og:title" content="<%= siteMeta.title %>">
  <% if (siteMeta.description) { %>
    <meta name="description" content="<%= siteMeta.descriptionPlain %>">
    <meta property="og:description" content="<%= siteMeta.descriptionPlain %>">
  <% } %>
  <% if (siteMeta.iconUrl) { %>
    <meta property="og:image" content="<%= siteMeta.iconUrl %>">
  <% } %>
</head>

<body>
  <article style="
    display: grid;
    place-items: center;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    background: #242424;
  ">
    <h2 style="
      margin: 0;
      font: inherit;
      font-size: 1.25rem;
      font-weight: 500;
    ">Article List</h2>
    <div class="card_stack" style="
      --card-shown-x: 5rem;
      --card-shown-y: 3rem;
      --card-size-x: 12rem;
      --card-size-y: 8rem;
      --card-padding: 1rem;
      display: flex;
      flex-direction: column;
      padding-right: calc(var(--card-size-x) - var(--card-shown-x) + 2*var(--card-padding));
      padding-bottom: calc(var(--card-size-y) - var(--card-shown-y) + 2*var(--card-padding));
    ">
      <%
      const cards = []
      const pages = siteMeta.pages.filter(page => page.publish && page.inList)
      pages.forEach((page, index) => {
        const title = page.title
        const body = page.content.split('\n')
        cards.push({title, body, index})
      })
      %>
      <% cards.forEach(card => { %>
        <div class="card_container" style="
          position: relative;
          margin-left: calc((var(--num) - 1) * var(--card-shown-x));
          width: var(--card-shown-x);
          height: var(--card-shown-y);
        " data-index="<%= card.index %>">
          <div class="card" style="
            position: absolute;
            display: flex;
            flex-direction: column;
            gap: .5rem;
            min-width: var(--card-size-x);
            min-height: var(--card-size-y);
            padding: var(--card-padding);
            border-radius: 1rem;
            background: #2C2C2C;
            color: white;
          ">
            <h2><%= card.title %></h2>
            <% card.body.forEach(paragraph => { %>
              <p><%= paragraph %></p>
            <% }) %>
          </div>
          <div class="card ghost"></div>
        </div>
      <% }) %>
    </div>
  </article>
  <%- include('partials/footer.html', { siteMeta }) %>
  <script src="/assets/js/articleList.js"></script>
</body>

</html>